{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
{% block body %}
<div class="container my-3">
    <h2>What is note taking app?</h2>
    <p>Note-taking is the process of capturing information from a source or event.</p>
    <p>Note-taking applications enable users to type or write, on their devices just as they would on paper.</p>
    <p>A note-taking app is a lightweight tool that allows you to digitally record information on your device instead of
        writing it on paper.</p>
    <br>
    <h2>How to use app:</h2>
    <p>1. Create a note with your title and description along with creating date and time.</p>
    <p>2. You can update your note if any need or change your note by clicking update botton.</p>
    <p>2. You can update your note if any need or change your note by clicking update botton.</p>
    <br>
    <h2>Using important library:</h2>
    <p>1. Flask</p>
    <p>2. Flask SQLAlchemy</p>
    <p>3. Datetime</p>


</div>

{% endblock body %}