{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}

<div class="container my-3">
  <h3>Add a Note</h3>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Note Title</label>
      <input type="title" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Note Description</label>
      <input type="text" class="form-control" id="desc" name="desc">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
<div class="container my-3">
  <h3>Your Notes</h3>
  {% if allNote|length == 0 %}
  <div class="alert alert-dark" role="alert">
    No Notes found. Add your first note now!
  </div>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SNo</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for note in allNote %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{note.title}}</td>
        <td>{{note.desc}}</td>
        <td>{{note.date}}</td>
        <td>
          <a href="/update/{{note.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
            <a href="/delete/{{note.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock body %}